<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>글을 수정해주세요</h1>
    <form action="/post/update/{{tem_post_update.id}}/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label>주인님 소식</label>
            <br>
            <input type="text" name="title" value="{{tem_post_update.title}}">
        </div>
        <div>
            <label>주인님 자랑</label>
            <br>
            <textarea name="content" cols="30" rows="10" value="">{{tem_post_update.content}}</textarea>
        </div>
        
        <!-- 기존이미지
        업로드버튼 
        자바스크립트 - 기존이미지가 새로운 이미지로 바뀌도록
        기존이미지 삭제는 뷰에서.  -->
        <div>
            <label>주인님 사진</label>
            <br>
            <img src="/media/{{tem_post_update.image}}"/>
            <input type="file" name="image" value="/media/{{tem_post_update.image}}/">

        </div>
        <button type="submit">수정하기</button>
    </form>

</body>

</html>