{% extends 'user/base.html' %}
{% block content %}

    {% if request.user.id == tem_post_detail.username.id %}
    <h1>글을 수정해주세요</h1>
    <form action="/post/update/{{tem_post_update.id}}/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label>주인님 소식</label>
            <br>
            <input type="text" name="title" value="{{tem_post_update.title}}">
        </div>
        <div>
            <label>주인님 자랑</label>
            <br>
            <textarea name="content" cols="30" rows="10" value="">{{tem_post_update.content}}</textarea>
        </div>
        <div>
            <label>주인님 사진</label>
            <br>
            <img src="/media/{{tem_post_update.image}}" onerror="this.style.display='none'" />
            <input type="file" name="image">

        </div>
        <button type="submit">수정하기</button>
    </form>
    {% endif %}

{% endblock %}


