{% extends 'user/base.html' %}
{% block content %}

{% if request.user.is_authenticated %}

{% endif %}
<h1>메인 페이지</h1>
<a href="/post/create/" style="margin-left: 85%;">
    <button type="button" class="btn btn-dark btn-sm">작성하기</button>
</a>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for p in tem_all_post %}
    <div class="col">
        <div class="mycards">
            <div class="card h-100">
                <div class="card-body">
                    <a href="/myhome/{{ p.username.id }}" style="text-decoration-line: none; color:black;">
                        <h5 class="card-title">{{ p.username.nickname }}🏠</h5>
                    </a>
                    <hr>
                    <img src="/media/{{ p.image }}" onerror="this.src='/media/default_image.jpg'" width="180px"
                        height="100px" style="object-fit:fill">
                    <hr>
                    <a href="/post/{{ p.id }}/" style="text-decoration-line: none; color:goldenrod;">
                        <p class="mycomment">{{ p.title }}</p>
                    </a>
                    <hr>
                    <p>댓글 수 : 개</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
{% if tem_page_obj.has_previous %}
<a href="?page=1">맨 앞으로</a>
<a href="?page={{tem_post_obj.previous_page_number}}">이전 페이지로</a>
{% endif %}

<span class="current-page"> 
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>
<br>
{% for p in tem_page_obj.paginator.page_range %}
<a href="?page={{p}}" class="mx-1">{{p}}</a>
{% endfor %} 

{% if tem_page_obj.has_next %}
<a href="?page={{tem_post_obj.next_page_number}}">다음 페이지로</a>
<a href="?page={{tem_post_obj.paginator.num_pages}}">맨 뒤로</a>
{% endif %}
</div>
{% endblock %}

