<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
</head>

<body>
    {% if request.user.is_authenticated %}    
    <form action="/user/signout/" method="POST">
        {% csrf_token %}
        <button>로그아웃</button>
    </form>
    <a href="/"><button>메인페이지 가기</button></a>
    {% endif %}
<h1>메인 페이지</h1>
<a href="/post/create/">
    <button>작성하기</button>
</a>
<ol>
    {% for mp in tem_my_posts %}
    <a href="/post/{{ mp.id }}/">
        <li>
            <div>{{user.nickname}}</div>
            <img src="/media/{{mp.image}}"/>
            <div>{{ mp.title }}</div>
        </li>
    </a>
    {% endfor %}
</ol>
</body>

</html>
