{% extends 'user/base.html' %}
{% block content %}

    <h1>개인 페이지</h1>
    <a href="/post/create/" style="margin-left: 85%;">
        <button>작성하기</button>
    </a>
    <ol>
        {% for mp in tem_my_posts %}
        <a href="/post/{{ mp.id }}/">
            <li>
                <div>{{user.nickname}}</div>
                <img src="/media/{{mp.image}}" onerror="this.style.display='none'" width="100px"/>
                <div>{{ mp.title }}</div>
            </li>
        </a>
        {% endfor %}
    </ol>

{% endblock %}