{% extends 'user/base.html' %}
{% block content %}

<h1>password page</h1>

{% if request.user.is_authenticated %}{% if request.user.id == tem_my_info.id %}
<form action="/password/{{tem_my_password.id}}/" method="post">
    {% csrf_token %}
    <div>
        현재 비밀번호 : <input type="password" name="password">
    </div>
    <div>
        새 비밀번호 : <input type="password" name="new_password">
    </div>
    <div>
        새 비밀번호 확인 : <input type="password" name="new_password_check">
    </div>
    <button type="submit">변경하기</button>
</form>
{% endif %}{% endif %}
{% endblock %}