<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password page</title>
</head>

<body>
    <h1>password page</h1>

    {% if request.user.is_authenticated %}{% if request.user == tem_my_info.username %}
    <form action="/password/{{tem_my_password.id}}/" method="post">
        {% csrf_token %}
        <div>
            현재 비밀번호 : <input type="password" name="password">
        </div>
        <div>
            새 비밀번호 : <input type="password" name="new_password">
        </div>
        <div>
            새 비밀번호 확인 : <input type="password" name="new_password_check">
        </div>
        <button type="submit">변경하기</button>
    </form>
    {% endif %}{% endif %}
</body>

</html>