<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이프로필</title>
</head>

<body>
    <h1>마이프로필</h1>
    {% if request.user.is_authenticated %}{% if request.user == tem_my_info.username %}
    <p>아이디 : {{ tem_my_info.username }}</p>
    <p>비밀번호 :
        <a href="/password/{{tem_my_info.id}}/">
            <button>비밀번호</button>
        </a>
    </p>
    <form action="/profile/{{tem_my_info.id}}/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            이메일 : <input type="text" name="email" value="{{tem_my_info.email}}">
        </div>
        <div>
            프로필 사진 : <input type="file" name="image">
        </div>
        <div>
            닉네임 : <input type="text" name="nickname" value="{{tem_my_info.nickname}}">
        </div>
        <button type="submit">수정하기</button>
    </form>
    {% endif %}{% endif %}
</body>

</html>