{% extends 'user/base.html' %}
{% block content %}

    <h1>마이프로필</h1>
    {% if request.user.is_authenticated %}{% if request.user.id == tem_my_info.id %}
    <p>아이디 : {{ tem_my_info.username }}</p>
    <p>비밀번호 :
        <a href="/password/{{tem_my_info.id}}/">
            <button>비밀번호</button>
        </a>
    </p>
    <form action="/profile/{{tem_my_info.id}}/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            이메일 : <input type="text" name="email" value="{{tem_my_info.email}}">
        </p>
        <p>
            프로필 사진 : <input type="file" name="image">
        </p>
        <p>
            닉네임 : <input type="text" name="nickname" value="{{tem_my_info.nickname}}">
        </p>
        <button type="submit">수정하기</button>
    </form>
    {% endif %}{% endif %}

{% endblock %}